<!-- James Wu -->

<!DOCTYPE html>
  <html>
    <head>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <script type = "text/javascript" src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>  
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
      <script>
        $(document).ready(function() {
           $('select').material_select();
        });
      </script>
      
      <title>Admin homepage</title>
    </head>
    <style>

    </style>

    <body>

        <nav>
          <div class="nav-wrapper">
            <ul class="left">
              <li class="active"><a href="../admin"><i class="fa fa-fw fa-home"></i> Home</a></li>
            </ul>

            <div class="brand-logo center hide-on-med-and-down">
              <ul class="center">
                <li><a href="../admin/account"><i class="fa fa-users" aria-hidden="true"></i> Manage Accounts</a></li>
                <li><a href="../admin/book"><i class="fa fa-book" aria-hidden="true"></i> Manage Books</a></li>
                <li><a href="../admin/class"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Manage Classes</a></li>
              </ul>
            </div>

            <ul class="right">
              <li><a href="../logout"><i class="fa fa-sign-out"></i> Log out</a></li>
            </ul>

          </div>
        </nav>

        <br><br><br><br>
        
        <div class="container">
          <div class="tab">
            <button class="tablinks" onclick="openTab(event, 'home')" id="defaultOpen">Home</button>
            <button class="tablinks" onclick="openTab(event, 'edit')">Edit Profile</button>
          </div>

          <div id="home" class="tabcontent">
            <br><br>
              <h4 style="color:#374740; font-weight: 500; text-align: center;">Welcome, {{details.forename}} {{details.surname}}!</h4><br>
              <h5>Click the options in the navigation bar to get started.</h5>
          </div>

          <div id="edit" class="tabcontent">
            <br><br>
            <h4 style="color:#374740; font-weight: 500; text-align: center;">Edit profile</h4><br>
  
              <form action = "" method = "POST" class="form-inline" id="editform">
          
                  <div class="form-field">
                      <input type="text" name="username" id="username_input" class="form-control" placeholder="Username: {{details.username}}">
                  </div><br>
  
                  <div class="form-field">
                      <input type="text" name="forename" id="forename_input" class="form-control" placeholder="Forename: {{details.forename}}">
                  </div><br>
  
                  <div class="form-field">
                      <input type="text" name="surname" id="surname_input" class="form-control" placeholder="Surname: {{details.surname}}">
                  </div><br>
  
                  <div class="form-field">
                    <select name="gender" id="gender_input" form="editform">
                        <option value="" selected>Gender: {{details.gender}}</option>                                
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Other">Other / Prefer not to say</option>
                    </select>
                  </div><br>
  
                  <div class="form-field">
                      <input type="text" name="dob" id="dob_input" class="form-control" placeholder="Date of Birth: {{details.dob}}" onfocus="(this.type='date')" onblur="(this.type='text')">
                  </div><br>
                  
                  <div class="form-field">
                      <input type="email" name="email" id="email_input" class="form-control" placeholder="Email: {{details.email}}">
                  </div>

                  <br><br>
  
                  <div class="form-field">
                      <button type="submit" name="submit" value="editform" class="btn-large">Submit</button>
                  </div><br>

                  <a class="btn" href="{{url_for('changepassword')}}" style="width:26%">Change password</a><br>
  
              </form>

              <p style="color:red">{{message}}</p>

          </div>

        </div>

    <script>

      function openTab(evt, option) {
          var i, tabcontent, tablinks;
          tabcontent = document.getElementsByClassName("tabcontent");
          for (i = 0; i < tabcontent.length; i++) {
          tabcontent[i].style.display = "none";
          }
          tablinks = document.getElementsByClassName("tablinks");
          for (i = 0; i < tablinks.length; i++) {
          tablinks[i].className = tablinks[i].className.replace(" active", "");
          }
          document.getElementById(option).style.display = "block";
          evt.currentTarget.className += " active";
      }
  
      // Get the element with id="defaultOpen" and click on it
      document.getElementById("defaultOpen").click();
  
      // Prevents resubmission every refresh
      if ( window.history.replaceState ) {
          window.history.replaceState( null, null, window.location.href );
      }
  
      </script>

  </body>

</html>
