<!-- James Wu -->

<!DOCTYPE html>
  <html>
    <head>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
      <script>
        $(document).ready(function() {
           $('select').material_select();
        });
      </script>
      
      <title>Manage accounts</title>
    </head>
    <style>

    </style>

    <body>

      <nav>
        <div class="nav-wrapper">
          <ul class="left">
            <li><a href="../admin"><i class="fa fa-fw fa-home"></i> Home</a></li>
          </ul>

          <div class="brand-logo center hide-on-med-and-down">
            <ul class="center">
              <li class="active"><a href="../admin/account"><i class="fa fa-users" aria-hidden="true"></i> Manage Accounts</a></li>
              <li><a href="../admin/book"><i class="fa fa-book" aria-hidden="true"></i> Manage Books</a></li>
              <li><a href="../admin/class"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Manage Classes</a></li>
            </ul>
          </div>

          <ul class="right">
            <li><a href="../logout"><i class="fa fa-sign-out"></i> Log out</a></li>
          </ul>

        </div>
      </nav>

        <br><br><br><br>

        <div class="container">

          <div class="tab">
            <button class="tablinks" onclick="openTab(event, 'add')" id="defaultOpen">Add accounts</button>
            <button class="tablinks" onclick="openTab(event, 'edit')">Edit accounts</button>
            <button class="tablinks" onclick="openTab(event, 'remove')">Remove accounts</button>
            <button class="tablinks" onclick="openTab(event, 'fines')">Manage fines</button>
          </div>


          <div id="add" class="tabcontent">

            <br><br>
              <h4 style="color:#374740; font-weight: 500; text-align: center;">Add account</h4><br>

              <form action = "" method = "POST" class="form-inline" id="accountform">
      
                  <div class="form-field">
                    <input type="text" name="username" id="username_input" class="form-control" placeholder="Username" required>
                  </div><br>

                  <div class="form-field">
                      <input type="text" name="forename" id="forename_input" class="form-control" placeholder="Forename" required>
                  </div><br>
      
                  <div class="form-field">
                      <input type="text" name="surname" id="surname_input" class="form-control" placeholder="Surname" required>
                  </div><br>

                  <div class="form-field">
                    <select name="gender" id="gender_input" form="accountform" required>
                        <option value="" disabled selected>Gender</option>                                
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Other">Other / Prefer not to say</option>
                    </select>
                  </div><br>
      
                  <div class="form-field">
                      <input type="text" name="dob" id="dob_input" class="form-control" placeholder="Date of Birth" onfocus="(this.type='date')" onblur="(this.type='text')" required>
                  </div><br>
                  
                  <div class="form-field">
                      <input type="email" name="email" id="email_input" class="form-control" placeholder="Email" required>
                  </div><br>

                  <div class="form-field">
                    <select name="occupation" id="occupation_input" form="accountform" required>
                        <option value="" disabled selected>Occupation</option>                                
                        <option value="student">Student</option>
                        <option value="teacher">Teacher</option>
                        <option value="admin">Admin</option>
                    </select>
                  </div>

                  <br><br>

                  <div class="form-field">
                      <button type="submit" name="submit" value="accountform" class="btn-large">Submit</button>
                  </div><br>
      
              </form>

              <p style="color:red">{{message}}</p>

          </div>


          <div id="edit" class="tabcontent"><br><br>

            <h4 style="color:#374740; font-weight: 500; text-align: center;">Select account to edit</h4><br>

            <form action = "" method = "POST" class="form-inline" id="editform">

              <div class="form-field">
                <select name="account" id="account" form="editform" required>
                    <option value="" disabled selected>Select</option>
                    {% for account in accounts %}
                    <option value="{{ account.pID }}">{{ account.forename }} {{ account.surname }} ({{account.occupation}})</option>
                    {% endfor %}
                </select>
              </div>
              <br><br>
              <div class="form-field">
                  <button type="submit" name="submit" value = "editform" class="btn-large">Submit</button>
              </div><br>
            </form>
          </div>

          <div id="remove" class="tabcontent"><br><br>
            <h4 style="color:#374740; font-weight: 500; text-align: center;">List of accounts to remove from: </h4><br><br>
            <a class="btn-large" href="/admin/account/all">All accounts</a>
          </div>

          <div id="fines" class="tabcontent">
            <br><br>
              <h4 style="color:#374740; font-weight: 500; text-align: center;">Manage fines</h4><br><br>
            
              <form action="" method = "POST" class="form-inline" id="finesform">
                  <table>
                  <tr>
                      <th>Forename</th>
                      <th>Surname</th>
                      <th>Charge</th>
                      <th>Repaid?</th>
                  </tr>

                  {% for person in people %}
                  <tr>
                      <td>{{person.forename}}</td>
                      <td>{{person.surname}}</td>
                      <td>£{{person.charge}}</td>
                      <td>
                          <label>
                              <input type="checkbox" name="fines{{person.id}}" id="fine_input" form ="finesform"/>
                              <span></span>
                          </label>
                      </td>
                  </tr>

                  {% endfor %}

                  </table>

                  <br><br>
                  
                  <div class="form-field">
                      <button type="submit" name="submit" value="finesform" class="btn-large">Submit</button>
                  </div><br>

                </form>
          </div>
        </div>
      <script>

      function openTab(evt, option) {
          var i, tabcontent, tablinks;
          tabcontent = document.getElementsByClassName("tabcontent");
          for (i = 0; i < tabcontent.length; i++) {
          tabcontent[i].style.display = "none";
          }
          tablinks = document.getElementsByClassName("tablinks");
          for (i = 0; i < tablinks.length; i++) {
          tablinks[i].className = tablinks[i].className.replace(" active", "");
          }
          document.getElementById(option).style.display = "block";
          evt.currentTarget.className += " active";
      }
  
      // Get the element with id="defaultOpen" and click on it
      document.getElementById("defaultOpen").click();
  
      // Prevents resubmission every refresh
      if ( window.history.replaceState ) {
          window.history.replaceState( null, null, window.location.href );
      }
  
      </script>


  </body>

</html>
