<!-- James Wu -->

<!DOCTYPE html>
<html lang="en">
<head>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books page</title>
</head>

<style>
</style>


<body>
    <nav>
        <div class="nav-wrapper">
          <ul class="left">
            <li><a href="../student"><i class="fa fa-fw fa-home"></i> Home</a></li>
            <li class="active"><a href="{{ url_for('allbooks')}}"><i class="fa fa-book" aria-hidden="true"></i> Books</a></li>
          </ul>
          <ul class="right">
            <li><a href="{{ url_for('logout') }}"><i class="fa fa-sign-out"></i> Log out</a></li>
          </ul>
        </div>
    </nav>

    <br><br><br><br>

    
    <div class="container" style="text-align:left; width:40%">
        <h1 style="color:#374740; font-weight: 500; text-align: center;">All books</h1><br>

        <center>
            <button onclick="document.getElementById('filter_button').style.display='block'" class="w3-button" style="background-color: #90a4ae; width:25%; color:white; font-weight: 500;">Filter</button>
        </center>

        <div id="filter_button" class="w3-modal">
            <div class="w3-modal-content w3-animate-top w3-card-4">
                <header class="w3-container" style="background-color: #78909c; color: white"> 
                    <span onclick="document.getElementById('filter_button').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                </header>

                <div class="w3-container">
                    <form action="" method = "POST", id="filter">
                        <br>
                        <p style="color:#374740; font-weight: 500; padding-left: 110px;">Sort by</p>
                        <div class="form-field">
                            <input type="radio" id="book_id" name="sort_option" value="BookId" checked>
                            <label for="book_id">Book ID</label><br>
                            <input type="radio" id="title" name="sort_option" value="Title">
                            <label for="title">Title</label><br>
                            <input type="radio" id="author" name="sort_option" value="Author">
                            <label for="author">Author</label><br>
                            <input type="radio" id="length" name="sort_option" value="Length">
                            <label for="length">Length</label><br>
                            <input type="radio" id="price" name="sort_option" value="Price">
                            <label for="price">Price</label>
                        </div>
                        <br>
                        <p style="color:#374740; font-weight: 500; padding-left: 110px;">Order</p>
                        <div class="form-field">                            
                            <input type="radio" id="ascending" name="direction" value="ASC" checked>
                            <label for="ascending">Ascending</label><br>
                            <input type="radio" id="descending" name="direction" value="DESC">
                            <label for="descending">Descending</label><br>
                        </div>
                        <br>

                        <p style="color:#374740; font-weight: 500; padding-left: 110px;">Filter by subject</p>
                        <div class="form-field">
                            <select class="browser-default" name="subject" style="width:40%" id="subject_input" form="filter">
                                <option value="None">Select</option>                                
                                {% for subject in subjects %}
                                <option value="{{ subject.id }}">{{ subject.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <br>
                        <div class="form-field">
                            <button type="submit" name="submit" value="filter" class="btn-large">Apply</button>
                        </div><br>
                    </form>
                </div>
            </div>
        </div>
        <br><br>

        {% for book in books %}
        <div class="card" style="padding-left:40px;">
            <p style="color:lightseagreen">{{ book.title }}</p>
            <p><span class="bold">Author: </span>{{ book.author }}<p>
            <p><span class="bold">ISBN: </span>{{ book.isbn }}</p>
            <p><span class="bold">Department: </span>{{ book.department }}</p>
        </div><br>
        {% endfor %}


        <br><br><br>

    </div>

</body>

</html>
