<!-- James Wu -->

<!DOCTYPE html>
  <html>
    <head>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <script>
      </script>
      
      <title>Manage accounts</title>
    </head>
    <style>

    </style>

    <body>
          
      <br><br><br><br><br>

      <center>
        <h3 style="color:#37474f; font-weight:500;">Error:</h3>
        <h5 style="color: #37474f">You do not have permission to access this page.</h5><br>
        <a class="btn" href="{{ link }}">Home</a>
      </center>

    </body>

</html>
